*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Tillana';
}
body::-webkit-scrollbar {
    display: none;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #acbaca;
    flex-direction: column;
    gap: 20px;
}

.clock{
    position: relative;
    width: 300px;
    height: 300px;
    background: #c9d5e0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    box-shadow: 30px 30px 30px -10px rgba(0, 0, 0, 0.15),inset 15px 15px 10px rgba(255, 255, 255, 0.75),
    -15px -15px 35px rgba(255, 255, 255, 0.55), inset
    -1px -1px 10px rgba(0, 0, 0, 0.2); 
}

.clock::before{
    content: '';
    position: absolute;
    width: 4px;
    height: 4px;
    background: #e91e63;
    border-radius: 50%;
    z-index: 1000;
    box-shadow: 0 0 0 1px #e91e63, 0 0 0 3px #fff, 0 0 5px 5px rgba(0, 0, 0, 0.15)    ;
}

.clock .number{
 position: absolute;
 inset: 35px;
 background: #152b4a;
 border-radius: 50%;
 box-shadow: 5px 5px 15px #152b4a66 inset
 5px 5px 5px rgba(255, 255, 255, 0.55),
 -6px -6px 10px rgba(255, 255, 255,1);
}

.clock .number span{
    position: absolute;
    inset: 5px;
    text-align: center;
    color: white;
    font-size: 1.25em;
    transform: rotate(calc(90deg * var(--i)));
}

.clock .number span b{
    font-weight: 600;
    display: inline-block;
    transform: rotate(calc(-90deg * var(--i)));
}

.clock .number::before{
    content: '';
    position: absolute;
    inset: 35px;
    background: linear-gradient(#2196f3,#e91e63);
    border-radius: 50%;
    animation: animate 2s linear infinite;
}

@keyframes animate {
    0%{
        transform: rotate(360deg);
    }
    100%{
        transform: rotate(0deg);
    }
}

.clock .number::after{
    content: '';
    position: absolute;
    inset: 38px;
    background:  #152b4a;
    border-radius: 50%;
}

.clock .number .circle{
    position: absolute;
    inset: 0;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    z-index: 10;
}

.clock .number .circle i{
    position: absolute;
    width: 3px;
    height: 50%;
    background: white;
    transform-origin: bottom;
   
}

.clock .number .circle#hr i{
    transform: scaleY(0.3);
    width: 4px;
}

.clock .number .circle#mn i{
    transform: scaleY(0.45);
}

.clock .number .circle#sc i{
    width: 2px;
    transform: scaleY(0.55);
    background: #e91e63;
    box-shadow: 0 30px 0 #e91e63;

}

.contLinetime {
    width: 100%;
    height: 50px;
    /* background-color: red; */
    display: flex;
    justify-content: center;
    align-items: center;
}
/*LOADING*/
.container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.text {
    color: white;
    margin-bottom: 25px;
    font-size: 20px;
    letter-spacing: 2px;
}
.text h1 {
    color: #000;
    margin-top: 60px;
}
.loading {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loading .line-box {
    padding: 2px;
    width: 40%;
    height: 20px;
    border: 2px solid #2196f3;
    border-radius: 20px;
}

.loading .line-box .line {
    height: 12px;
    border-radius: 20px;
    background: #e91e63;
    animation: loading 5s forwards cubic-bezier(0, 0, 0, 0);
}

@keyframes loading {
    0% {
        width: 0%;
    }

    100% {
        width: 100%;
    }
}