* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
    font-family: 'Tillana';
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #000;
    animation: animante_Body 4s ease-in-out infinite;
}
.father {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.father .contInstructions {
    width: 50%;
    height: auto;
    font-size: 23px;
    text-align: center;
}
.father .contInstructions h2 {
    animation: animate_h2 4s ease-in-out infinite;
}
.father .contInstructions p {
    animation: animate_h2 4s ease-in-out infinite;
}
.scan {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    /* animation: animateColor 6s linear infinite; */
}
/* @keyframes animateColor
{
    0% {
        filter: hue-rotate(0deg);
    }
    100% {
        filter: hue-rotate(360deg);
    }
} */
.scan .face{
    position: relative;
    width: 500px;
    height: 500px;
    background-image: url('/images/icon/logoblancoParque-removebg-preview.png');
    background-size: 500px;
    /* background-repeat: no-repeat; */
}

.scan .face::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/images/icon/logodelparqueWhite.png');
    background-size: 500px;
    animation: animate 4s ease-in-out infinite;
}
@keyframes animate {
    0%,100%
    {
        height: 0%;
    }
    50% {
        height: 100%;
    }
}
.scan .face::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 8px;
    background: red;
    border-radius: 8px;
    filter: drop-shadow(0 0 20px red) drop-shadow(0 0 60px red);
    animation: animante_line 4s ease-in-out infinite;
}

@keyframes animante_line {
    0%,100%
    {
        top: 0%;
    }
    50%
    {
        top: 100%;
    }
}

@keyframes animante_Body {
    0%,100%
    {
        background-color: white;
    }
    50% {
        background-color: black;
    }
}

@keyframes animate_h2 {
    0%, 100% {
        color: #000;
    }
    50% {
        color: #fff;
    }
}

.scan h3{
    text-transform: uppercase;
    color: red;
    font-size: 2em;
    margin-top: 20px;
    letter-spacing: 2px;
    filter: drop-shadow(0 0 20px red) drop-shadow(0 0 60px red);
    animation: animate_text 0.5s steps(1) infinite;
}
@keyframes animate_text {
    0%,100% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}

.scan .face .dots {
    position: absolute;
    inset: 0;
}

.scan .face .dots::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 500px;
    height: 500px;

}

/* boton de iniciar */
