* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
    font-family: 'Tillana';
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #000;
    animation: animante_Body 6s ease-in-out infinite;
}
.father {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.father .contInstructions {
    width: 50%;
    height: auto;
    font-size: 23px;
    text-align: center;
}
.father .contInstructions h2 {
    animation: animate_h2 6s ease-in-out infinite;
}
.father .contInstructions p {
    animation: animate_h2 6s ease-in-out infinite;
}
.scan {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    /* animation: animateColor 6s linear infinite; */
}
/* @keyframes animateColor
{
    0% {
        filter: hue-rotate(0deg);
    }
    100% {
        filter: hue-rotate(360deg);
    }
} */
.scan .face{
    position: relative;
    width: 500px;
    height: 500px;
    background-image: url('/images/icon/logoblancoParque-removebg-preview.png');
    background-size: 500px;
    /* background-repeat: no-repeat; */
}

.scan .face::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/images/icon/logodelparqueWhite.png');
    background-size: 500px;
    animation: animate 6s ease-in-out infinite;
}
@keyframes animate {
    0%,100%
    {
        height: 0%;
    }
    50% {
        height: 100%;
    }
}
.scan .face::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 8px;
    background: red;
    border-radius: 8px;
    filter: drop-shadow(0 0 20px red) drop-shadow(0 0 60px red);
    animation: animante_line 6s ease-in-out infinite;
}

@keyframes animante_line {
    0%,100%
    {
        top: 0%;
    }
    50%
    {
        top: 100%;
    }
}

@keyframes animante_Body {
    0%,100%
    {
        background-color: white;
    }
    50% {
        background-color: black;
    }
}

@keyframes animate_h2 {
    0%, 100% {
        color: #000;
    }
    50% {
        color: #fff;
    }
}

.scan h3{
    text-transform: uppercase;
    color: red;
    font-size: 2em;
    margin-top: 20px;
    letter-spacing: 2px;
    filter: drop-shadow(0 0 20px red) drop-shadow(0 0 60px red);
    animation: animate_text 0.5s steps(1) infinite;
}
@keyframes animate_text {
    0%,100% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}

.scan .face .dots {
    position: absolute;
    inset: 0;
}

.scan .face .dots::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 500px;
    height: 500px;

}

/* boton de iniciar */
.text-box {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}
.btn {
    animation: animate-btn 6s ease-in-out infinite;
}

.btn:link,
.btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 40px;
    display: inline-block;
    border-radius: 100px;
    transition: all .2s;
    position: absolute;
}

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn-white {
    background-color: #fff;
    color: #777;
}

.btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
}

.btn-white::after {
    background-color: #fff;
}

.btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

.btn-animated {
    animation: moveInBottom 5s ease-out;
    animation-fill-mode: backwards;
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}
@keyframes animate-btn {
    0%, 100% {
        background-color: #000;
        color: white;        
    }
    50% {
        background-color: #fff;
        color: #000;
    }
}
/*darkWindow*/
.darkWindowClass {
    background-color: #000;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: 1.3s;
    z-index: 1;
}
