* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
    font-family: 'Tillana';
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #000;
    animation: animante_Body 6s ease-in-out infinite;
}
.father {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.father .contInstructions {
    width: 50%;
    height: auto;
    font-size: 23px;
    text-align: center;
}
.father .contInstructions h2 {
    animation: animate_h2 6s ease-in-out infinite;
}
.father .contInstructions p {
    animation: animate_h2 6s ease-in-out infinite;
}
.scan {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.scan .face{
    position: relative;
    width: 500px;
    height: 500px;
    background-image: url('/images/icon/logoblancoParque-removebg-preview.png');
    background-size: 500px;
}

.scan .face::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/images/icon/logodelparqueWhite.png');
    background-size: 500px;
    animation: animate 6s ease-in-out infinite;
}
@keyframes animate {
    0%,100%
    {
        height: 0%;
    }
    50% {
        height: 100%;
    }
}
.scan .face::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 8px;
    background: red;
    border-radius: 8px;
    filter: drop-shadow(0 0 20px red) drop-shadow(0 0 60px red);
    animation: animante_line 6s ease-in-out infinite;
}

@keyframes animante_line {
    0%,100%
    {
        top: 0%;
    }
    50%
    {
        top: 100%;
    }
}

@keyframes animante_Body {
    0%,100%
    {
        background-color: white;
    }
    50% {
        background-color: black;
    }
}

@keyframes animate_h2 {
    0%, 100% {
        color: #000;
    }
    50% {
        color: #fff;
    }
}

.scan h3{
    text-transform: uppercase;
    color: red;
    font-size: 2em;
    margin-top: 20px;
    letter-spacing: 2px;
    filter: drop-shadow(0 0 20px red) drop-shadow(0 0 60px red);
    animation: animate_text 0.5s steps(1) infinite;
}
@keyframes animate_text {
    0%,100% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}

.scan .face .dots {
    position: absolute;
    inset: 0;
}

.scan .face .dots::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 500px;
    height: 500px;

}

/* boton de iniciar */
.text-box {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

/*darkWindow*/
.darkWindowClass {
    background-color: #000;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: 1.3s;
    z-index: 1;
}

/*Transition*/
.transitionC {
    animation: animate_transitionC 2.3s ease-out;
}

@keyframes animate_transitionC {
    0% {
        background-color: #000;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 1;
        z-index: 3;
    }
    50% {
        background-color: #000;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 1;
        z-index: 3;
    
    }
    100% {
        opacity: 0;
        z-index: 0;
    }
}





/*btn presentacion*/

.btn {
    margin-top: 10PX;
    position: relative;
    width: 200px;
    height: 45px;
    background: rgba(0, 0, 0, 0.1);
    border-radius: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(255, 255, 255, 0.5);
    text-decoration: none;
    letter-spacing: 2px;
    border-top: 0.5px solid rgba(255, 255, 255, 0.35);
    border-left: 0.5px solid rgba(255, 255, 255, 0.35);
    padding-left: 40px;
    transition: 0.5s;
    overflow: hidden;
    animation: animate-btn ease-in-out 6s infinite;
}

.btn:hover {
    padding-left: 0px;
    padding-right: 40px;
    /* color: rgba(255, 255, 255, 1); */
}

.btn span {
    position: absolute;
    left: 5px;
    width: 35px;
    height: 35px;
    background: red;
    border-radius: 50%;
    transition: 0.5s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 1.5em;
}


.btn:hover span {
    left: calc(100% - 55px);
}

.btn::after {
    content: '';
    position: absolute;
    width: 80px;
    height: 100%;
    z-index: 1;
    /* background: rgba(255, 255, 255, 0.25); */
    transform: translateX(-170px) skewX(30deg); 
    transition: 0.75s ease-in-out;
}

.btn:hover::after{
    transform: translateX(170px) skewX(30deg); 
}

@keyframes animate-btn {
    0%, 100% {
        background-color: #000;
        color: white;        
    }
    50% {
        background-color: #fff;
        color: #000;
    }
}